.btn-events-container {
    height: 45vh;
}

/* .events-mapped-individual-container {
    margin: 2%;
} */

.next-arrow-images {
    height: 2vh;
}

.event-title-font-stlye {
    color: #E94C4C;
    padding-left: 1%;
}