
@-webkit-keyframes ticker {
    0% {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      visibility: visible;
    }
    100% {
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
    }
  }
  @keyframes ticker {
    0% {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      visibility: visible;
    }
    100% {
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
    }
  }
  .entire-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    height: 4rem;
    padding-left: 100%;
    box-sizing: content-box;
    background: linear-gradient(to bottom, white 0%,white 50%,#000000 50%,black 50%,black 100%);
  }

  .entire-footer .entire-footer-ticker {
    display: inline-block;
    background-color:#ffff;
    height: 2rem;
    line-height: 2rem;
    white-space: nowrap;
    padding-right: 100%;
    box-sizing: content-box;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-name: ticker;
    animation-name: ticker;
    -webkit-animation-duration: 20s;
    animation-duration: 20s;
  }

  .entire-footer .entire-footer-hired-ticker {
    display: inline-block;
    background-color: black;
    height: 2rem;
    line-height: 2rem;
    white-space: nowrap;
    padding-right: 100%;
    box-sizing: content-box;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-name: ticker;
    animation-name: ticker;
    -webkit-animation-duration: 50s;
    animation-duration: 50s;
  }

  .entire-footer .ticker-item {
    display: inline-block;
    padding: 0 4rem;
    font-size: 1.5rem;
    color: black;
  }

  .entire-footer .hired-ticker-item {
    display: inline-block;
    padding: 0 4rem;
    font-size: 1.5rem;
    color: white;
  }

  .ticker-item img {
    height: 2vh;
  }

  .footer-smile-img {
    height: 2vh;
  }
