.nationalities-container-whole {
  height: 34vh;
  display: block;
  flex-direction: column;
  background-color: #D32F2F;

}
.btn_nationalities-flags img{
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  margin-left: 10%;
  height: 15%;
  width: 20%;
  max-width: 20%;
  max-height: 15%;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.3);
  border-radius: 4px;
}
.nationalities__header {
  text-align: center;
  text-shadow: #ffff;
  font-size: 1rem; 
  text-align: inherit;
}
.nationality__flag-container{
  display: flex;
  flex-direction: row;
}

.nationality__name-container{
  display: flex;
  float: center;
  flex-direction: row;
  text-shadow: #ffff;
  font-size: 1.6rem; 
}


.btn-nationalities-message {
  background-color: #ffff;

}

/* .btn-nationalities-flags {
  height: 28vh;
  background-color: #D32F2F;
  display: flex;
  flex-direction: column;
  align-items: stretch;


}


.btn-nationalities-message {
  white-space: nowrap;
  overflow: hidden;
  font-size: 85%;
  text-align: center;
  color: #E94C4C;
  font-weight: 800;
}

.btn_nationalities-flags {
  display: block;
  max-height: 20%;
  flex-grow: 1;
  color: white;
  padding-left: 3%;
}

