.btn_nationalities-flags img{
  height: 30px;
  width: 40px;
}

.nationalities-container-whole {
  height: 33vh;
}

.btn-nationalities-message {
  height: 5vh;
  background-color: #ffff;
}

.btn-nationalities-flags {
  height: 28vh;
  background-color: #D32F2F;
}

