.btn-student-container {
    height: 42.5vh;
}

.hired-conditional-render {
    position: absolute;
    top: 5vh;
    right: 9vw;
}

.hired-conditional-render img {
    height: 10vh;
}

.grad-conditional-render {
    position: absolute;
    top: 5vh;
    right: 7.5vw;
}

.grad-conditional-render img {
    height: 11vh;
}